.your-posts {
  position: absolute;
  top: calc(50% - 15.81px);
  left: calc(50% - 109px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 217px;
  height: 31px;
}
.your-posts-wrapper {
  position: absolute;
  height: 4.28%;
  width: calc(100% - 834px);
  top: 26.65%;
  right: 296px;
  bottom: 69.07%;
  left: 538px;
  border-radius: 4.93px;
  background-color: var(--color-white);
  border: 0.5px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
}
.gazo5,
.topg5 {
  position: absolute;
  top: 0;
  height: 118.83px;
}
.gazo5 {
  width: calc(100% - 65.19px);
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.75;
}
.topg5 {
  width: calc(100% + 0.14px);
  right: -0.52px;
  left: 0.38px;
  background: linear-gradient(180deg, #6ab4be, rgba(106, 180, 190, 0));
}
.profile12 {
  position: absolute;
  top: 12.75px;
  left: calc(50% - 50.6px);
  font-size: 27.48px;
  font-family: var(--font-milonga);
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  width: 183.77px;
  height: 31.4px;
}
.vector-icon109,
.vector-icon110 {
  position: absolute;
  top: 31.88px;
  left: calc(50% - 91.72px);
  width: 21.12px;
  height: 9.39px;
}
.vector-icon110 {
  top: 17.8px;
  left: calc(50% - 87.03px);
  width: 11.73px;
  height: 11.73px;
}
.profile11 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 8.98%;
  width: calc(100% + 1px);
  top: 21.13%;
  right: -1px;
  bottom: 69.89%;
  left: 0;
}
.home11 {
  position: absolute;
  top: 12.98px;
  left: calc(50% - 51.1px);
  font-size: 27.48px;
  font-family: var(--font-milonga);
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  width: 183.77px;
  height: 34.96px;
}
.vector-icon111,
.vector-icon112 {
  position: absolute;
  top: 13.72px;
  left: calc(50% - 92.31px);
  width: 25.19px;
  height: 27.7px;
}
.vector-icon112 {
  top: 26.32px;
  left: calc(50% - 84.75px);
  width: 10.07px;
  height: 15.11px;
}
.home10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 8.98%;
  width: 100%;
  top: 30.11%;
  right: 0;
  bottom: 60.91%;
  left: 0;
}
.explore12 {
  position: absolute;
  top: 12.98px;
  left: calc(50% - 50.94px);
  font-size: 27.48px;
  font-family: var(--font-milonga);
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  width: 183.77px;
  height: 34.96px;
}
.vector-icon113,
.vector-icon114 {
  position: absolute;
  top: 15.72px;
  left: calc(50% - 92.15px);
  width: 27.7px;
  height: 27.7px;
}
.vector-icon114 {
  top: 22.97px;
  left: calc(50% - 84.89px);
  width: 13.2px;
  height: 13.2px;
}
.explore11 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 8.94%;
  width: calc(100% - 0.33px);
  top: 39.04%;
  right: 0.33px;
  bottom: 52.02%;
  left: 0;
}
.vector-icon115 {
  position: absolute;
  top: 20px;
  left: calc(50% - 86.87px);
  width: 19.46px;
  height: 19.46px;
}
.notification6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 8.94%;
  width: calc(100% - 0.33px);
  top: 47.84%;
  right: 0.33px;
  bottom: 43.22%;
  left: 0;
}
.vector-icon116 {
  position: absolute;
  top: 32.15px;
  left: calc(50% - 88px);
  width: 22.13px;
  height: 8.85px;
}
.vector-icon117,
.vector-icon118 {
  position: absolute;
  top: 18.87px;
  left: calc(50% - 83.57px);
  width: 13.28px;
  height: 7.75px;
}
.vector-icon118 {
  left: calc(50% - 78.04px);
  width: 2.21px;
  height: 15.49px;
}
.post22 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 8.94%;
  width: calc(100% - 0.33px);
  top: 56.5%;
  right: 0.33px;
  bottom: 34.56%;
  left: 0;
}
.sign-out5 {
  position: absolute;
  top: 31.96px;
  left: calc(50% - 50.94px);
  font-size: 27.48px;
  font-family: var(--font-milonga);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 183.77px;
  height: 34.96px;
}
.vector-icon119,
.vector-icon120 {
  position: absolute;
  top: 42.03px;
  left: calc(50% - 87.81px);
  width: 6.41px;
  height: 10.99px;
}
.vector-icon120 {
  top: 46.61px;
  width: 16.49px;
  height: 11.91px;
}
.navbar5,
.signout5 {
  position: absolute;
  bottom: 0;
}
.signout5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: calc(100% - 0.33px);
  right: -1.67px;
  left: 2px;
  background: linear-gradient(180deg, rgba(100, 186, 190, 0), #64babe);
  height: 81.9px;
}
.navbar5 {
  height: 100%;
  width: 22.5%;
  top: 0;
  right: 77.5%;
  left: 0;
  font-size: 48.08px;
  font-family: var(--font-im-fell-great-primer-sc);
}
.rectangle-div {
  position: absolute;
  height: calc(100% - 159.96px);
  width: calc(100% - 0.27px);
  top: 47.4px;
  right: 0.27px;
  bottom: 112.57px;
  left: 0;
  background-color: var(--color-gainsboro-200);
}
.new-post-child1 {
  position: absolute;
  height: 63.22%;
  width: 100%;
  top: 10.8%;
  right: 0;
  bottom: 25.98%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vector-icon121,
.vector-icon122 {
  position: absolute;
  top: 17.86px;
  left: 15.8px;
  width: 13.39px;
  height: 14.44px;
}
.vector-icon122 {
  top: 18.55px;
  left: 48.77px;
  width: 11.68px;
  height: 13.74px;
}
.vector-icon123,
.vector-icon124,
.vector-icon125 {
  position: absolute;
  top: 24.73px;
  right: 33.93px;
  width: 5.5px;
  height: 5.5px;
}
.vector-icon124,
.vector-icon125 {
  top: 19.92px;
  right: 25.69px;
}
.vector-icon125 {
  top: 29.54px;
}
.vector-icon126,
.vector-icon127 {
  position: absolute;
  top: 27.83px;
  right: 29.52px;
  width: 6.07px;
  height: 4.11px;
}
.vector-icon127 {
  top: 23.02px;
  right: 29.53px;
  width: 6.06px;
}
.vector-icon128,
.vector-icon129 {
  position: absolute;
  top: 15.8px;
  left: 89.98px;
  width: 4.12px;
  height: 6.87px;
}
.vector-icon129 {
  top: 18.55px;
  left: 80.37px;
  width: 13.74px;
  height: 5.5px;
}
.vector-icon130,
.vector-icon131 {
  position: absolute;
  top: 25.42px;
  left: 80.37px;
  width: 4.12px;
  height: 6.87px;
}
.vector-icon131 {
  top: 24.04px;
  width: 13.74px;
  height: 5.5px;
}
.description-4 {
  bottom: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 670px;
  height: 43px;
}
.description-4,
.post-tail4,
.stars-634 {
  position: absolute;
  left: 0;
}
.stars-634 {
  top: calc(50% - 8.58px);
  display: flex;
  align-items: center;
  width: 670px;
  height: 22px;
}
.post-tail4 {
  width: 100%;
  right: 0;
  bottom: -0.28px;
  border-radius: 0 0 6.87px 6.87px;
  background-color: var(--color-snow);
  height: 112.85px;
}
.post-head-child1 {
  position: absolute;
  top: 4.81px;
  left: 4.12px;
  width: 35.03px;
  height: 34.34px;
}
.post-head-child2 {
  position: absolute;
  top: 5.45px;
  left: 4.54px;
  width: 38.45px;
  height: 36.07px;
  object-fit: cover;
}
.jan-234,
.name-to-be-given2 {
  position: absolute;
  height: 17px;
}
.name-to-be-given2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 19px;
  left: 48px;
  font-size: 10.18px;
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 165px;
}
.jan-234 {
  top: 18px;
  right: 25.73px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 49px;
}
.post-head4 {
  position: absolute;
  width: calc(100% - 0.27px);
  top: 0;
  right: 0.27px;
  left: 0;
  border-radius: 6.87px 6.87px 0 0;
  background-color: var(--color-gainsboro-200);
  height: 47.4px;
  font-size: var(--font-size-5xs);
  font-family: var(--font-ibm-plex-sans);
}
.new-post-child2,
.new-post4 {
  position: absolute;
  height: 94.98%;
  width: calc(100% + 0.02px);
  top: 0;
  right: -0.02px;
  bottom: 5.02%;
  left: 0;
}
.new-post-child2 {
  height: 63.16%;
  width: calc(100% - 0.27px);
  top: 10.9%;
  right: 0.27px;
  bottom: 25.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vector-icon132,
.vector-icon133 {
  position: absolute;
  top: 18.55px;
  left: 16.49px;
  width: 12.02px;
  height: 13.06px;
}
.vector-icon133 {
  top: 19.23px;
  left: 49.46px;
  width: 10.3px;
  height: 12.36px;
}
.vector-icon134,
.vector-icon135,
.vector-icon136 {
  position: absolute;
  top: 25.42px;
  right: 34.62px;
  width: 4.12px;
  height: 4.12px;
}
.vector-icon135,
.vector-icon136 {
  top: 20.61px;
  right: 26.38px;
}
.vector-icon136 {
  top: 30.22px;
}
.vector-icon137,
.vector-icon138 {
  position: absolute;
  top: 28.51px;
  right: 30.21px;
  width: 4.69px;
  height: 2.73px;
}
.vector-icon138 {
  top: 23.7px;
  right: 30.22px;
  width: 4.68px;
}
.vector-icon139,
.vector-icon140 {
  position: absolute;
  top: 16.49px;
  left: 90.67px;
  width: 2.75px;
  height: 5.5px;
}
.vector-icon140 {
  top: 19.23px;
  left: 81.05px;
  width: 12.36px;
  height: 4.12px;
}
.vector-icon141,
.vector-icon142 {
  position: absolute;
  top: 26.1px;
  left: 81.05px;
  width: 2.75px;
  height: 5.5px;
}
.vector-icon142 {
  top: 24.73px;
  width: 12.36px;
  height: 4.12px;
}
.jan-235,
.name-to-be-given3 {
  position: absolute;
  height: 17px;
}
.name-to-be-given3 {
  top: 19px;
  left: 48px;
  font-weight: 600;
  display: inline-block;
  width: 165px;
}
.jan-235 {
  top: 18px;
  right: 25.73px;
  font-size: var(--font-size-5xs);
  font-weight: 300;
  font-family: var(--font-ibm-plex-sans);
  display: flex;
  align-items: center;
  width: 49px;
}
.post-head5 {
  position: absolute;
  width: calc(100% - 0.27px);
  top: 0;
  right: 0.27px;
  left: 0;
  border-radius: 6.87px 6.87px 0 0;
  background-color: var(--color-gainsboro-200);
  height: 47.4px;
  font-size: 10.18px;
}
.new-post5,
.new-post6,
.new-post7 {
  position: absolute;
  height: 94.98%;
  width: calc(100% + 0.02px);
  top: 100%;
  right: -0.02px;
  bottom: -94.98%;
  left: 0;
}
.new-post6,
.new-post7 {
  top: 200%;
  bottom: -194.98%;
}
.new-post7 {
  top: 300%;
  bottom: -294.98%;
}
.home-posts1 {
  position: absolute;
  height: 63.24%;
  width: 63.75%;
  top: 36.45%;
  right: 5.52%;
  bottom: 0.31%;
  left: 30.73%;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-3xs-7);
}
.bio-child {
  position: absolute;
  border-radius: 50%;
  top: 13px;
  left: 40px;
  width: 94.23px;
  height: 88.39px;
  object-fit: cover;
}

.vector-icon166-button{
  cursor: pointer;
  position: absolute;
  top: 120px;
  left: 80px;
  width: 16px;
  height: 15px;
  background-image: url(/static/public/vector121.svg);
}


.following-container,
.following32 {
  position: absolute;
  width: 67px;
  cursor: pointer;
}
.following32 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: calc(50% - 6.5px);
  left: calc(50% - 33.5px);
  font-size: 9.87px;
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 14px;
}
.following-container {
  right: 20px;
  bottom: 8px;
  border-radius: var(--br-11xs);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  height: 15px;
  overflow: hidden;
}
.followers-wrapper,
.followers3 {
  position: absolute;
  width: 69px;
  height: 14px;
  cursor: pointer;
}
.followers3 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: calc(50% - 7px);
  left: calc(50% - 34.5px);
  font-size: 9.87px;
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.followers-wrapper {
  bottom: 8px;
  left: calc(50% - 46px);
  border-radius: var(--br-11xs);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  overflow: hidden;
}
.name-to-be-given6 {
  position: absolute;
  top: 11px;
  left: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 126px;
  height: 31px;
}

.vector-icon165-button{
  cursor: pointer;
  position: absolute;
  top: 21.51px;
  right: 45.72px;
  width: 16px;
  height: 15px;
  background-image: url('/static/public/vector121.svg') ;
}


.frame-bio {
  border: 1px solid rgba(0, 0, 0, 0.75);
  display: block;
  font-family: var(--font-montserrat);
  font-size: 11.84px;
  background-color: transparent;
  position: absolute;
  top: calc(50% - 10.25px);
  left: calc(50% - 70.29px);
  border-radius: 9.87px;
  box-sizing: border-box;
  width: 130.25px;
  height: 34.04px;
}
.posts {
  bottom: 8px;
  left: 20px;
  font-size: 9.87px;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 14px;
}
.bio,
.bio-frame,
.posts {
  position: absolute;
}
.bio-frame {
  top: 0;
  left: calc(50% - 37.94px);
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  width: 258px;
  height: 132px;
}
.bio {
  height: 18.23%;
  width: 41.86%;
  top: 4.69%;
  right: 15.89%;
  bottom: 77.08%;
  left: 42.25%;
  text-align: center;
}
.profile10 {
  position: relative;
  background-color: var(--color-mintcream);
  border: 0.7px solid var(--color-black);
  box-sizing: border-box;
  width: 100%;
  height: 832px;
  overflow: hidden;
  text-align: center;
  font-size: 12.33px;
  color: var(--color-black);
  font-family: var(--font-montserrat);
}


#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-content {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.popup-content input[type="file"] {
    margin-bottom: 10px;
}

/* 
#popup-form {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#popup-form form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#popup-form label {
  display: block;
  margin-bottom: 10px;
}

#popup-form input[type="file"] {
  display: block;
  margin-bottom: 10px;
}

#popup-form button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

#popup-form button[type="submit"]:hover {
  background-color: #45a049;
} */