<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{url_for('static',filename='global.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='Following.css')}}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Iceberg:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IM FELL Great Primer SC:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM Plex Sans:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Milonga:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manuale:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kiwi Maru:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lakki Reddy:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lateef:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="following">
      <div class="ftop">
        <button class="fbio">
          <img class="fbio-child" alt="" src="./static/public/ellipse-3@2x.png" />
          <div class="name-to-be-given">Name_to_be_given</div>
        </button>
        <div class="following1">Following</div>
      </div>
      <div class="following-list">
        <div class="following11">
          <button class="fbio1">
            <img class="fbio-item" alt="" src="./static/public/ellipse-6.svg" /><img
              class="fbio-inner"
              alt=""
              src="./static/public/ellipse-10@2x.png"
            />
            <div class="fantasy-king-123">Fantasy_King_123</div></button
          ><button class="fback">
            <div class="following2">Following</div>
          </button>
        </div>
        <div class="following12">
          <button class="fbio1">
            <img class="fbio-item" alt="" src="./static/public/ellipse-61.svg" /><img
              class="fbio-inner"
              alt=""
              src="./static/public/ellipse-101@2x.png"
            />
            <div class="fantasy-king-123">Fantasy_King_123</div></button
          ><button class="fback">
            <div class="following2">Following</div>
          </button>
        </div>
        <div class="following13">
          <button class="fbio1">
            <img class="fbio-item" alt="" src="./static/public/ellipse-62.svg" /><img
              class="fbio-inner"
              alt=""
              src="./static/public/ellipse-102@2x.png"
            />
            <div class="fantasy-king-123">Fantasy_King_123</div></button
          ><button class="fback">
            <div class="following2">Following</div>
          </button>
        </div>
        <div class="following14">
          <button class="fbio1">
            <img class="fbio-item" alt="" src="./static/public/ellipse-63.svg" /><img
              class="fbio-inner"
              alt=""
              src="./static/public/ellipse-103@2x.png"
            />
            <div class="fantasy-king-123">Fantasy_King_123</div></button
          ><button class="fback">
            <div class="following2">Following</div>
          </button>
        </div>
        <div class="following15">
          <button class="fbio1">
            <img class="fbio-item" alt="" src="./static/public/ellipse-64.svg" /><img
              class="fbio-inner"
              alt=""
              src="./static/public/ellipse-104@2x.png"
            />
            <div class="fantasy-king-123">Fantasy_King_123</div></button
          ><button class="fback">
            <div class="following2">Following</div>
          </button>
        </div>
        <div class="following16">
          <button class="fbio1">
            <img class="fbio-item" alt="" src="./static/public/ellipse-65.svg" /><img
              class="fbio-inner"
              alt=""
              src="./static/public/ellipse-105@2x.png"
            />
            <div class="fantasy-king-123">Fantasy_King_123</div></button
          ><button class="fback">
            <div class="following2">Following</div>
          </button>
        </div>
        <div class="following17">
          <button class="fbio1">
            <img class="fbio-item" alt="" src="./static/public/ellipse-66.svg" /><img
              class="fbio-inner"
              alt=""
              src="./static/public/ellipse-106@2x.png"
            />
            <div class="fantasy-king-123">Fantasy_King_123</div></button
          ><button class="fback">
            <div class="following2">Following</div>
          </button>
        </div>
        <div class="following18">
          <button class="fbio1">
            <img class="fbio-item" alt="" src="./static/public/ellipse-67.svg" /><img
              class="fbio-inner"
              alt=""
              src="./static/public/ellipse-107@2x.png"
            />
            <div class="fantasy-king-123">Fantasy_King_123</div></button
          ><button class="fback">
            <div class="following2">Following</div>
          </button>
        </div>
        <div class="following19">
          <button class="fbio1">
            <img class="fbio-item" alt="" src="./static/public/ellipse-68.svg" /><img
              class="fbio-inner"
              alt=""
              src="./static/public/ellipse-108@2x.png"
            />
            <div class="fantasy-king-123">Fantasy_King_123</div></button
          ><button class="fback">
            <div class="following2">Following</div>
          </button>
        </div>
        <div class="following110">
          <button class="fbio1">
            <img class="fbio-item" alt="" src="./static/public/ellipse-69.svg" /><img
              class="fbio-inner"
              alt=""
              src="./static/public/ellipse-109@2x.png"
            />
            <div class="fantasy-king-123">Fantasy_King_123</div></button
          ><button class="fback">
            <div class="following2">Following</div>
          </button>
        </div>
        <div class="following111">
          <button class="fbio1">
            <img class="fbio-item" alt="" src="./static/public/ellipse-610.svg" /><img
              class="fbio-inner"
              alt=""
              src="./static/public/ellipse-1010@2x.png"
            />
            <div class="fantasy-king-123">Fantasy_King_123</div></button
          ><button class="fback">
            <div class="following2">Following</div>
          </button>
        </div>
        <div class="following112">
          <button class="fbio1">
            <img class="fbio-item" alt="" src="./static/public/ellipse-611.svg" /><img
              class="fbio-inner"
              alt=""
              src="./static/public/ellipse-1011@2x.png"
            />
            <div class="fantasy-king-123">Fantasy_King_123</div></button
          ><button class="fback">
            <div class="following2">Following</div>
          </button>
        </div>
        <div class="following113">
          <button class="fbio1">
            <img class="fbio-item" alt="" src="./static/public/ellipse-612.svg" /><img
              class="fbio-inner"
              alt=""
              src="./static/public/ellipse-1012@2x.png"
            />
            <div class="fantasy-king-123">Fantasy_King_123</div></button
          ><button class="fback">
            <div class="following2">Following</div>
          </button>
        </div>
        <div class="following114">
          <button class="fbio1">
            <img class="fbio-item" alt="" src="./static/public/ellipse-613.svg" /><img
              class="fbio-inner"
              alt=""
              src="./static/public/ellipse-1013@2x.png"
            />
            <div class="fantasy-king-123">Fantasy_King_123</div></button
          ><button class="fback">
            <div class="following2">Following</div>
          </button>
        </div>
        <div class="following115">
          <button class="fbio1">
            <img class="fbio-item" alt="" src="./static/public/ellipse-614.svg" /><img
              class="fbio-inner"
              alt=""
              src="./static/public/ellipse-1014@2x.png"
            />
            <div class="fantasy-king-123">Fantasy_King_123</div></button
          ><button class="fback">
            <div class="following2">Following</div>
          </button>
        </div>
        <div class="following116">
          <button class="fbio1">
            <img class="fbio-item" alt="" src="./static/public/ellipse-615.svg" /><img
              class="fbio-inner"
              alt=""
              src="./static/public/ellipse-1015@2x.png"
            />
            <div class="fantasy-king-123">Fantasy_King_123</div></button
          ><button class="fback">
            <div class="following2">Following</div>
          </button>
        </div>
      </div>
      <div class="navbar1">
        <div class="topg1"><div class="gazo1">Gazo</div></div>
        <button class="profile2" id="profile">
          <div class="profile3">Profile</div>
          <img class="vector-icon58" alt="" src="./static/public/vector46.svg" /><img
            class="vector-icon59"
            alt=""
            src="./static/public/vector47.svg"
          /></button
        ><button class="home2" id="home">
          <div class="home3">Home</div>
          <img class="vector-icon60" alt="" src="./static/public/vector56.svg" /><img
            class="vector-icon61"
            alt=""
            src="./static/public/vector57.svg"
          /></button
        ><button class="explore3" id="explore">
          <div class="explore4">Explore</div>
          <img class="vector-icon62" alt="" src="./static/public/vector58.svg" /><img
            class="vector-icon63"
            alt=""
            src="./static/public/vector59.svg"
          /></button
        ><button class="notification1" id="notification">
          <div class="explore4">Notifications</div>
          <img
            class="vector-icon64"
            alt=""
            src="./static/public/vector60.svg"
          /></button
        ><button class="post2" id="post">
          <div class="explore4">Post</div>
          <img class="vector-icon65" alt="" src="./static/public/vector61.svg" /><img
            class="vector-icon66"
            alt=""
            src="./static/public/vector62.svg"
          /><img
            class="vector-icon67"
            alt=""
            src="./static/public/vector63.svg"
          /></button
        ><button class="signout1" id="signOut">
          <div class="sign-out1">Sign Out</div>
          <img class="vector-icon68" alt="" src="./static/public/vector511.svg" /><img
            class="vector-icon69"
            alt=""
            src="./static/public/vector521.svg"
          />
        </button>
      </div>
    </div>

    <script>
      var profile = document.getElementById("profile");
      if (profile) {
        profile.addEventListener("click", function (e) {
          window.location.href = "/profile";
        });
      }
      
      var home = document.getElementById("home");
      if (home) {
        home.addEventListener("click", function (e) {
          window.location.href = "/home";
        });
      }
      
      var notification = document.getElementById("notification");
      if (notification) {
        notification.addEventListener("click", function (e) {
          window.location.href = "/notifications";
        });
      }
      
      var post = document.getElementById("post");
      if (post) {
        post.addEventListener("click", function (e) {
          window.location.href = "/post";
        });
      }

      var explore = document.getElementById("explore");
      if (explore) {
        explore.addEventListener("click", function (e) {
          window.location.href = "/explore";
        });
      }

      var signOut = document.getElementById("signOut");
      if (signOut) {
        signOut.addEventListener("click", function (e) {
          window.location.href = "/logout";
        });
      }
      </script>
  </body>
</html>
