<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{url_for('static',filename='global.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='Followers.css')}}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Iceberg:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IM FELL Great Primer SC:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM Plex Sans:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Milonga:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manuale:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kiwi Maru:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lakki Reddy:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lateef:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="followers">
      <div class="followers-list">
        <div class="followers1">
          <button class="fbio17">
            <img
              class="fbio-child31"
              alt=""
              src="./static/public/ellipse-616@2x.png"
            />
            <div class="ecstacy-sober">Ecstacy_sober</div></button
          ><button class="fback16">
            <div class="follow-back">Follow Back</div>
          </button>
        </div>
        <div class="followers11">
          <button class="fbio17">
            <img
              class="fbio-child31"
              alt=""
              src="./static/public/ellipse-616@2x.png"
            />
            <div class="ecstacy-sober">Ecstacy_sober</div></button
          ><button class="fback16">
            <div class="follow-back">Follow Back</div>
          </button>
        </div>
        <div class="followers12">
          <button class="fbio17">
            <img
              class="fbio-child31"
              alt=""
              src="./static/public/ellipse-617@2x.png"
            />
            <div class="ecstacy-sober">Ecstacy_sober</div></button
          ><button class="fback16">
            <div class="follow-back">Follow Back</div>
          </button>
        </div>
        <div class="followers13">
          <button class="fbio17">
            <img
              class="fbio-child31"
              alt=""
              src="./static/public/ellipse-617@2x.png"
            />
            <div class="ecstacy-sober">Ecstacy_sober</div></button
          ><button class="fback16">
            <div class="follow-back">Follow Back</div>
          </button>
        </div>
        <div class="followers14">
          <button class="fbio17">
            <img
              class="fbio-child31"
              alt=""
              src="./static/public/ellipse-618@2x.png"
            />
            <div class="ecstacy-sober">Ecstacy_sober</div></button
          ><button class="fback16">
            <div class="follow-back">Follow Back</div>
          </button>
        </div>
        <div class="followers15">
          <button class="fbio17">
            <img
              class="fbio-child31"
              alt=""
              src="./static/public/ellipse-618@2x.png"
            />
            <div class="ecstacy-sober">Ecstacy_sober</div></button
          ><button class="fback16">
            <div class="follow-back">Follow Back</div>
          </button>
        </div>
        <div class="followers16">
          <button class="fbio17">
            <img
              class="fbio-child31"
              alt=""
              src="./static/public/ellipse-619@2x.png"
            />
            <div class="ecstacy-sober">Ecstacy_sober</div></button
          ><button class="fback16">
            <div class="follow-back">Follow Back</div>
          </button>
        </div>
        <div class="followers17">
          <button class="fbio17">
            <img
              class="fbio-child31"
              alt=""
              src="./static/public/ellipse-619@2x.png"
            />
            <div class="ecstacy-sober">Ecstacy_sober</div></button
          ><button class="fback16">
            <div class="follow-back">Follow Back</div>
          </button>
        </div>
        <div class="followers18">
          <button class="fbio17">
            <img
              class="fbio-child31"
              alt=""
              src="./static/public/ellipse-620@2x.png"
            />
            <div class="ecstacy-sober">Ecstacy_sober</div></button
          ><button class="fback16">
            <div class="follow-back">Follow Back</div>
          </button>
        </div>
        <div class="followers19">
          <button class="fbio17">
            <img
              class="fbio-child31"
              alt=""
              src="./static/public/ellipse-620@2x.png"
            />
            <div class="ecstacy-sober">Ecstacy_sober</div></button
          ><button class="fback16">
            <div class="follow-back">Follow Back</div>
          </button>
        </div>
        <div class="followers110">
          <button class="fbio17">
            <img
              class="fbio-child31"
              alt=""
              src="./static/public/ellipse-621@2x.png"
            />
            <div class="ecstacy-sober">Ecstacy_sober</div></button
          ><button class="fback16">
            <div class="follow-back">Follow Back</div>
          </button>
        </div>
        <div class="followers111">
          <button class="fbio17">
            <img
              class="fbio-child31"
              alt=""
              src="./static/public/ellipse-621@2x.png"
            />
            <div class="ecstacy-sober">Ecstacy_sober</div></button
          ><button class="fback16">
            <div class="follow-back">Follow Back</div>
          </button>
        </div>
        <div class="followers112">
          <button class="fbio17">
            <img
              class="fbio-child31"
              alt=""
              src="./static/public/ellipse-622@2x.png"
            />
            <div class="ecstacy-sober">Ecstacy_sober</div></button
          ><button class="fback16">
            <div class="follow-back">Follow Back</div>
          </button>
        </div>
        <div class="followers113">
          <button class="fbio17">
            <img
              class="fbio-child31"
              alt=""
              src="./static/public/ellipse-622@2x.png"
            />
            <div class="ecstacy-sober">Ecstacy_sober</div></button
          ><button class="fback16">
            <div class="follow-back">Follow Back</div>
          </button>
        </div>
        <div class="followers114">
          <button class="fbio17">
            <img
              class="fbio-child31"
              alt=""
              src="./static/public/ellipse-623@2x.png"
            />
            <div class="ecstacy-sober">Ecstacy_sober</div></button
          ><button class="fback16">
            <div class="follow-back">Follow Back</div>
          </button>
        </div>
        <div class="followers115">
          <button class="fbio17">
            <img
              class="fbio-child31"
              alt=""
              src="./static/public/ellipse-623@2x.png"
            />
            <div class="ecstacy-sober">Ecstacy_sober</div></button
          ><button class="fback16">
            <div class="follow-back">Follow Back</div>
          </button>
        </div>
        <div class="followers116">
          <button class="fbio17">
            <img
              class="fbio-child31"
              alt=""
              src="./static/public/ellipse-624@2x.png"
            />
            <div class="ecstacy-sober">Ecstacy_sober</div></button
          ><button class="fback16">
            <div class="follow-back">Follow Back</div>
          </button>
        </div>
        <div class="followers117">
          <button class="fbio17">
            <img
              class="fbio-child31"
              alt=""
              src="./static/public/ellipse-624@2x.png"
            />
            <div class="ecstacy-sober">Ecstacy_sober</div></button
          ><button class="fback16">
            <div class="follow-back">Follow Back</div>
          </button>
        </div>
        <div class="followers118">
          <button class="fbio17">
            <img
              class="fbio-child31"
              alt=""
              src="./static/public/ellipse-625@2x.png"
            />
            <div class="ecstacy-sober">Ecstacy_sober</div></button
          ><button class="fback16">
            <div class="follow-back">Follow Back</div>
          </button>
        </div>
        <div class="followers119">
          <button class="fbio17">
            <img
              class="fbio-child31"
              alt=""
              src="./static/public/ellipse-625@2x.png"
            />
            <div class="ecstacy-sober">Ecstacy_sober</div></button
          ><button class="fback16">
            <div class="follow-back">Follow Back</div>
          </button>
        </div>
        <div class="followers120">
          <button class="fbio17">
            <img
              class="fbio-child31"
              alt=""
              src="./static/public/ellipse-626@2x.png"
            />
            <div class="ecstacy-sober">Ecstacy_sober</div></button
          ><button class="fback36">
            <div class="follow-back">Following</div>
          </button>
        </div>
        <div class="followers121">
          <button class="fbio17">
            <img
              class="fbio-child31"
              alt=""
              src="./static/public/ellipse-626@2x.png"
            />
            <div class="ecstacy-sober">Ecstacy_sober</div></button
          ><button class="fback36">
            <div class="follow-back">Following</div>
          </button>
        </div>
        <div class="followers122">
          <button class="fbio17">
            <img
              class="fbio-child31"
              alt=""
              src="./static/public/ellipse-627@2x.png"
            />
            <div class="ecstacy-sober">Ecstacy_sober</div></button
          ><button class="fback36">
            <div class="follow-back">Following</div>
          </button>
        </div>
        <div class="followers123">
          <div class="fbio40">
            <img
              class="fbio-child31"
              alt=""
              src="./static/public/ellipse-627@2x.png"
            />
            <div class="ecstacy-sober23">Ecstacy_sober</div>
          </div>
          <button class="fback36">
            <div class="follow-back">Following</div>
          </button>
        </div>
      </div>
      <div class="ftop1">
        <button class="fbio41">
          <img class="fbio-child55" alt="" src="./static/public/ellipse-31@2x.png" />
          <div class="name-to-be-given1">Name_to_be_given</div>
        </button>
        <div class="followers2">Followers</div>
      </div>
      <div class="navbar2">
        <div class="topg2"><div class="gazo2">Gazo</div></div>
        <button class="profile4" id="profile">
          <div class="profile5">Profile</div>
          <img class="vector-icon70" alt="" src="./static/public/vector46.svg" /><img
            class="vector-icon71"
            alt=""
            src="./static/public/vector64.svg"
          /></button
        ><button class="home4" id="home">
          <div class="home5">Home</div>
          <img class="vector-icon72" alt="" src="./static/public/vector48.svg" /><img
            class="vector-icon73"
            alt=""
            src="./static/public/vector65.svg"
          /></button
        ><button class="explore5" id="explore">
          <div class="explore6">Explore</div>
          <img class="vector-icon74" alt="" src="./static/public/vector50.svg" /><img
            class="vector-icon75"
            alt=""
            src="./static/public/vector66.svg"
          /></button
        ><button class="notification2" id="notification">
          <div class="explore6">Notifications</div>
          <img
            class="vector-icon76"
            alt=""
            src="./static/public/vector67.svg"
          /></button
        ><button class="post4" id="post">
          <div class="explore6">Post</div>
          <img class="vector-icon77" alt="" src="./static/public/vector68.svg" /><img
            class="vector-icon78"
            alt=""
            src="./static/public/vector62.svg"
          /><img
            class="vector-icon79"
            alt=""
            src="./static/public/vector69.svg"
          /></button
        ><button class="signout2" id="signOut">
          <div class="sign-out2">Sign Out</div>
          <img class="vector-icon80" alt="" src="./static/public/vector271.svg" /><img
            class="vector-icon81"
            alt=""
            src="./static/public/vector281.svg"
          />
        </button>
      </div>
    </div>

    <script>
      var profile = document.getElementById("profile");
      if (profile) {
        profile.addEventListener("click", function (e) {
          window.location.href = "/profile";
        });
      }
      
      var home = document.getElementById("home");
      if (home) {
        home.addEventListener("click", function (e) {
          window.location.href = "/home";
        });
      }
      
      var notification = document.getElementById("notification");
      if (notification) {
        notification.addEventListener("click", function (e) {
          window.location.href = "/notifications";
        });
      }
      
      var explore = document.getElementById("explore");
      if (explore) {
        explore.addEventListener("click", function (e) {
          window.location.href = "/explore";
        });
      }

      var post = document.getElementById("post");
      if (post) {
        post.addEventListener("click", function (e) {
          window.location.href = "/post";
        });
      }
      
      var signOut = document.getElementById("signOut");
      if (signOut) {
        signOut.addEventListener("click", function (e) {
          window.location.href = "/logout";
        });
      }
      </script>
  </body>
</html>
