<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{url_for('static',filename='global.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='Home.css')}}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Iceberg:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IM FELL Great Primer SC:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM Plex Sans:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Milonga:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manuale:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kiwi Maru:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lakki Reddy:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lateef:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="home12">
      <div class="home-posts2">
        <div class="new-post8">
          <img
            class="new-post-child6"
            alt=""
            src="./static/public/rectangle-36@2x.png"
          />
          <div class="post-tail8">
            <img
              class="vector-icon166"
              alt=""
              src="./static/public/vector122.svg"
            /><img
              class="vector-icon167"
              alt=""
              src="./static/public/vector123.svg"
            /><img
              class="vector-icon168"
              alt=""
              src="./static/public/vector124.svg"
            /><img
              class="vector-icon169"
              alt=""
              src="./static/public/vector125.svg"
            /><img
              class="vector-icon170"
              alt=""
              src="./static/public/vector126.svg"
            /><img
              class="vector-icon171"
              alt=""
              src="./static/public/vector127.svg"
            /><img
              class="vector-icon172"
              alt=""
              src="./static/public/vector128.svg"
            /><img
              class="vector-icon173"
              alt=""
              src="./static/public/vector129.svg"
            /><img
              class="vector-icon174"
              alt=""
              src="./static/public/vector130.svg"
            /><img
              class="vector-icon175"
              alt=""
              src="./static/public/vector131.svg"
            /><img class="vector-icon176" alt="" src="./static/public/vector132.svg" />
            <div class="description-8">Description :-</div>
            <div class="stars-638">78 Stars , 63 Comments and 51 Reshares</div>
          </div>
          <div class="post-head8">
            <img
              class="post-head-child9"
              alt=""
              src="./static/public/ellipse-18@2x.png"
            /><button class="ebanky-coastad4">Ebanky_coastad</button>
            <div class="jan-238">6 Jan ‘23</div>
          </div>
        </div>
        <div class="new-post9">
          <img
            class="new-post-child7"
            alt=""
            src="./static/public/rectangle-37@2x.png"
          />
          <div class="post-tail8">
            <img
              class="vector-icon177"
              alt=""
              src="./static/public/vector133.svg"
            /><img
              class="vector-icon178"
              alt=""
              src="./static/public/vector134.svg"
            /><img
              class="vector-icon179"
              alt=""
              src="./static/public/vector135.svg"
            /><img
              class="vector-icon180"
              alt=""
              src="./static/public/vector136.svg"
            /><img
              class="vector-icon181"
              alt=""
              src="./static/public/vector137.svg"
            /><img
              class="vector-icon182"
              alt=""
              src="./static/public/vector138.svg"
            /><img
              class="vector-icon183"
              alt=""
              src="./static/public/vector139.svg"
            /><img
              class="vector-icon184"
              alt=""
              src="./static/public/vector140.svg"
            /><img
              class="vector-icon185"
              alt=""
              src="./static/public/vector141.svg"
            /><img
              class="vector-icon186"
              alt=""
              src="./static/public/vector142.svg"
            /><img class="vector-icon187" alt="" src="./static/public/vector143.svg" />
            <div class="description-8">Description :-</div>
            <div class="stars-638">78 Stars , 63 Comments and 51 Reshares</div>
          </div>
          <div class="post-head9">
            <img
              class="post-head-child9"
              alt=""
              src="./static/public/ellipse-19@2x.png"
            />
            <div class="ebanky-coastad5">Ebanky_coastad</div>
            <div class="jan-239">6 Jan ‘23</div>
          </div>
        </div>
        <div class="new-post10">
          <img
            class="new-post-child6"
            alt=""
            src="./static/public/rectangle-38@2x.png"
          />
          <div class="post-tail8">
            <img
              class="vector-icon177"
              alt=""
              src="./static/public/vector144.svg"
            /><img
              class="vector-icon178"
              alt=""
              src="./static/public/vector145.svg"
            /><img
              class="vector-icon179"
              alt=""
              src="./static/public/vector146.svg"
            /><img
              class="vector-icon180"
              alt=""
              src="./static/public/vector147.svg"
            /><img
              class="vector-icon181"
              alt=""
              src="./static/public/vector148.svg"
            /><img
              class="vector-icon182"
              alt=""
              src="./static/public/vector149.svg"
            /><img
              class="vector-icon183"
              alt=""
              src="./static/public/vector150.svg"
            /><img
              class="vector-icon184"
              alt=""
              src="./static/public/vector151.svg"
            /><img
              class="vector-icon185"
              alt=""
              src="./static/public/vector152.svg"
            /><img
              class="vector-icon186"
              alt=""
              src="./static/public/vector153.svg"
            /><img class="vector-icon187" alt="" src="./static/public/vector154.svg" />
            <div class="description-8">Description :-</div>
            <div class="stars-638">78 Stars , 63 Comments and 51 Reshares</div>
          </div>
          <div class="post-head9">
            <img
              class="post-head-child9"
              alt=""
              src="./static/public/ellipse-110@2x.png"
            />
            <div class="ebanky-coastad5">Ebanky_coastad</div>
            <div class="jan-239">6 Jan ‘23</div>
          </div>
        </div>
        <div class="new-post11">
          <img
            class="new-post-child6"
            alt=""
            src="./static/public/rectangle-39@2x.png"
          />
          <div class="post-tail8">
            <img
              class="vector-icon177"
              alt=""
              src="./static/public/vector155.svg"
            /><img
              class="vector-icon178"
              alt=""
              src="./static/public/vector156.svg"
            /><img
              class="vector-icon179"
              alt=""
              src="./static/public/vector157.svg"
            /><img
              class="vector-icon180"
              alt=""
              src="./static/public/vector158.svg"
            /><img
              class="vector-icon181"
              alt=""
              src="./static/public/vector159.svg"
            /><img
              class="vector-icon182"
              alt=""
              src="./static/public/vector160.svg"
            /><img
              class="vector-icon183"
              alt=""
              src="./static/public/vector161.svg"
            /><img
              class="vector-icon184"
              alt=""
              src="./static/public/vector162.svg"
            /><img
              class="vector-icon185"
              alt=""
              src="./static/public/vector163.svg"
            /><img
              class="vector-icon186"
              alt=""
              src="./static/public/vector164.svg"
            /><img class="vector-icon187" alt="" src="./static/public/vector165.svg" />
            <div class="description-8">Description :-</div>
            <div class="stars-638">78 Stars , 63 Comments and 51 Reshares</div>
          </div>
          <div class="post-head9">
            <img
              class="post-head-child9"
              alt=""
              src="./static/public/ellipse-111@2x.png"
            />
            <div class="ebanky-coastad5">Ebanky_coastad</div>
            <div class="jan-239">6 Jan ‘23</div>
          </div>
        </div>
      </div>
      <div class="navbar6">
        <div class="topg6"><div class="gazo6">Gazo</div></div>
        <button class="profile13" id="profile">
          <div class="profile14">Profile</div>
          <img class="vector-icon210" alt="" src="./static/public/vector46.svg" /><img
            class="vector-icon211"
            alt=""
            src="./static/public/vector47.svg"
          /></button
        ><button class="home13">
          <div class="home14">Home</div>
          <img class="vector-icon212" alt="" src="./static/public/vector56.svg" /><img
            class="vector-icon213"
            alt=""
            src="./static/public/vector57.svg"
          /></button
        ><button class="explore13" id="explore">
          <div class="explore14">Explore</div>
          <img class="vector-icon214" alt="" src="./static/public/vector58.svg" /><img
            class="vector-icon215"
            alt=""
            src="./static/public/vector70.svg"
          /></button
        ><button class="notification7" id="notification">
          <div class="explore14">Notifications</div>
          <img
            class="vector-icon216"
            alt=""
            src="./static/public/vector71.svg"
          /></button
        ><button class="post24" id="post">
          <div class="explore14">Post</div>
          <img class="vector-icon217" alt="" src="./static/public/vector61.svg" /><img
            class="vector-icon218"
            alt=""
            src="./static/public/vector166.svg"
          /><img
            class="vector-icon219"
            alt=""
            src="./static/public/vector63.svg"
          /></button
        ><button class="signout6" id="signOut">
          <div class="sign-out6">Sign Out</div>
          <img class="vector-icon220" alt="" src="./static/public/vector391.svg" /><img
            class="vector-icon221"
            alt=""
            src="./static/public/vector401.svg"
          />
        </button>
      </div>
    </div>

    <script>
      var profile = document.getElementById("profile");
      if (profile) {
        profile.addEventListener("click", function (e) {
          window.location.href = "/profile";
        });
      }
      
      var home = document.getElementById("home");
      if (home) {
        home.addEventListener("click", function (e) {
          window.location.href = "/home";
        });
      }
      
      var notification = document.getElementById("notification");
      if (notification) {
        notification.addEventListener("click", function (e) {
          window.location.href = "/notifications";
        });
      }
      
      var post = document.getElementById("post");
      if (post) {
        post.addEventListener("click", function (e) {
          window.location.href = "/post";
        });
      }
      
      var explore = document.getElementById("explore");
      if (explore) {
        explore.addEventListener("click", function (e) {
          window.location.href = "/explore";
        });
      }

      var signOut = document.getElementById("signOut");
      if (signOut) {
        signOut.addEventListener("click", function (e) {
          window.location.href = "/logout";
        });
      }
      </script>
  </body>
</html>
