<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{url_for('static',filename='global.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='Notification.css')}}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Iceberg:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IM FELL Great Primer SC:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM Plex Sans:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Milonga:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manuale:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kiwi Maru:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lakki Reddy:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lateef:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="notification3">
      <div class="notifications3">Notifications</div>
      <div class="notifs">
        <div class="commentnotif">
          <div class="commented-on-your-container">
            <span>commented on your </span><span class="post6">post</span>
          </div>
          <button class="ellipse-parent">
            <img class="frame-child" alt="" src="./static/public/ellipse-8@2x.png" />
            <div class="ecstacy-sober24">Ecstacy_sober</div>
          </button>
        </div>
        <div class="commentnotif1">
          <div class="commented-on-your-container">
            <span>commented on your </span><span class="post6">post</span>
          </div>
          <button class="ellipse-parent">
            <img class="frame-child" alt="" src="./static/public/ellipse-81@2x.png" />
            <div class="ecstacy-sober24">Ecstacy_sober</div>
          </button>
        </div>
        <div class="commentnotif2">
          <div class="commented-on-your-container">
            <span>commented on your </span><span class="post6">post</span>
          </div>
          <button class="ellipse-parent">
            <img class="frame-child" alt="" src="./static/public/ellipse-82@2x.png" />
            <div class="ecstacy-sober24">Ecstacy_sober</div>
          </button>
        </div>
        <div class="commentnotif3">
          <div class="commented-on-your-container">
            <span>commented on your </span><span class="post6">post</span>
          </div>
          <button class="ellipse-parent">
            <img class="frame-child" alt="" src="./static/public/ellipse-83@2x.png" />
            <div class="ecstacy-sober24">Ecstacy_sober</div>
          </button>
        </div>
        <div class="likenotif">
          <div class="commented-on-your-container">
            <span>liked your </span><span class="post6">post</span>
          </div>
          <button class="ellipse-parent">
            <img class="frame-child" alt="" src="./static/public/ellipse-84@2x.png" />
            <div class="ecstacy-sober24">Ecstacy_sober</div>
          </button>
        </div>
        <div class="likenotif1">
          <div class="commented-on-your-container">
            <span>liked your </span><span class="post6">post</span>
          </div>
          <button class="ellipse-parent">
            <img class="frame-child" alt="" src="./static/public/ellipse-85@2x.png" />
            <div class="ecstacy-sober24">Ecstacy_sober</div>
          </button>
        </div>
        <div class="likenotif2">
          <div class="commented-on-your-container">
            <span>liked your </span><span class="post6">post</span>
          </div>
          <button class="ellipse-parent">
            <img class="frame-child" alt="" src="./static/public/ellipse-86@2x.png" />
            <div class="ecstacy-sober24">Ecstacy_sober</div>
          </button>
        </div>
        <div class="likenotif3">
          <div class="commented-on-your-container">
            <span>liked your </span><span class="post6">post</span>
          </div>
          <button class="ellipse-parent">
            <img class="frame-child" alt="" src="./static/public/ellipse-87@2x.png" />
            <div class="ecstacy-sober24">Ecstacy_sober</div>
          </button>
        </div>
        <div class="resharenotif">
          <div class="commented-on-your-container">
            <span>reshared your </span><span class="post6">post</span>
          </div>
          <button class="ellipse-parent">
            <img class="frame-child" alt="" src="./static/public/ellipse-88@2x.png" />
            <div class="ecstacy-sober24">Ecstacy_sober</div>
          </button>
        </div>
        <div class="resharenotif1">
          <div class="commented-on-your-container">
            <span>reshared your </span><span class="post6">post</span>
          </div>
          <button class="ellipse-parent">
            <img class="frame-child" alt="" src="./static/public/ellipse-89@2x.png" />
            <div class="ecstacy-sober24">Ecstacy_sober</div>
          </button>
        </div>
        <div class="resharenotif2">
          <div class="commented-on-your-container">
            <span>reshared your </span><span class="post6">post</span>
          </div>
          <button class="ellipse-parent">
            <img class="frame-child" alt="" src="./static/public/ellipse-810@2x.png" />
            <div class="ecstacy-sober24">Ecstacy_sober</div>
          </button>
        </div>
        <div class="followingnotif">
          <div class="commented-on-your-container">
            <p class="started-following-you">started following you</p>
          </div>
          <button class="ellipse-parent">
            <img class="frame-child" alt="" src="./static/public/ellipse-811@2x.png" />
            <div class="ecstacy-sober24">Ecstacy_sober</div></button
          ><button class="follow-back-wrapper">
            <div class="follow-back20">Follow Back</div>
          </button>
        </div>
        <div class="followingnotif1">
          <div class="commented-on-your-container">
            <p class="started-following-you">started following you</p>
          </div>
          <button class="ellipse-parent">
            <img class="frame-child" alt="" src="./static/public/ellipse-812@2x.png" />
            <div class="ecstacy-sober24">Ecstacy_sober</div></button
          ><button class="follow-back-wrapper">
            <div class="follow-back20">Follow Back</div>
          </button>
        </div>
        <div class="followingnotif2">
          <div class="commented-on-your-container">
            <p class="started-following-you">started following you</p>
          </div>
          <button class="ellipse-parent">
            <img class="frame-child" alt="" src="./static/public/ellipse-813@2x.png" />
            <div class="ecstacy-sober24">Ecstacy_sober</div></button
          ><button class="following-wrapper">
            <div class="follow-back20">Following</div>
          </button>
        </div>
      </div>
      <div class="navbar3">
        <div class="topg3"><div class="gazo3">Gazo</div></div>
        <button class="profile6" id="profile">
          <div class="profile7">Profile</div>
          <img class="vector-icon82" alt="" src="./static/public/vector46.svg" /><img
            class="vector-icon83"
            alt=""
            src="./static/public/vector47.svg"
          /></button
        ><button class="home6" id="home">
          <div class="home7">Home</div>
          <img class="vector-icon84" alt="" src="./static/public/vector56.svg" /><img
            class="vector-icon85"
            alt=""
            src="./static/public/vector57.svg"
          /></button
        ><button class="explore7" id="explore">
          <div class="explore8">Explore</div>
          <img class="vector-icon86" alt="" src="./static/public/vector58.svg" /><img
            class="vector-icon87"
            alt=""
            src="./static/public/vector70.svg"
          /></button
        ><button class="notification4">
          <div class="explore8">Notifications</div>
          <img
            class="vector-icon88"
            alt=""
            src="./static/public/vector71.svg"
          /></button
        ><button class="post17" id="post">
          <div class="explore8">Post</div>
          <img class="vector-icon89" alt="" src="./static/public/vector53.svg" /><img
            class="vector-icon90"
            alt=""
            src="./static/public/vector72.svg"
          /><img
            class="vector-icon91"
            alt=""
            src="./static/public/vector55.svg"
          /></button
        ><button class="signout3" id="signOut">
          <div class="sign-out3">Sign Out</div>
          <img class="vector-icon92" alt="" src="./static/public/vector391.svg" /><img
            class="vector-icon93"
            alt=""
            src="./static/public/vector401.svg"
          />
        </button>
      </div>
    </div>

    <script>
      var profile = document.getElementById("profile");
      if (profile) {
        profile.addEventListener("click", function (e) {
          window.location.href = "/profile";
        });
      }
      
      var home = document.getElementById("home");
      if (home) {
        home.addEventListener("click", function (e) {
          window.location.href = "/home";
        });
      }
      
      var notification = document.getElementById("notification");
      if (notification) {
        notification.addEventListener("click", function (e) {
          window.location.href = "/notifications";
        });
      }
      
      var post = document.getElementById("post");
      if (post) {
        post.addEventListener("click", function (e) {
          window.location.href = "/post";
        });
      }
      
      var explore = document.getElementById("explore");
      if (explore) {
        explore.addEventListener("click", function (e) {
          window.location.href = "/explore";
        });
      }

      var signOut = document.getElementById("signOut");
      if (signOut) {
        signOut.addEventListener("click", function (e) {
          window.location.href = "/logout";
        });
      }
      </script>
  </body>
</html>
