<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{url_for('static',filename='global.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='Profile.css')}}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Iceberg:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IM FELL Great Primer SC:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM Plex Sans:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Milonga:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manuale:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kiwi Maru:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lakki Reddy:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lateef:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="profile10">
      <div class="your-posts-wrapper">
        <div class="your-posts">Your Posts</div>
      </div>
      <div class="navbar5">
        <div class="topg5"><div class="gazo5">Gazo</div></div>
        <button class="profile11">
          <div class="profile12">Profile</div>
          <img class="vector-icon109" alt="" src="./static/public/vector46.svg" /><img
            class="vector-icon110"
            alt=""
            src="./static/public/vector47.svg"
          /></button
        ><button class="home10" id="home">
          <div class="home11">Home</div>
          <img class="vector-icon111" alt="" src="./static/public/vector48.svg" /><img
            class="vector-icon112"
            alt=""
            src="./static/public/vector49.svg"
          /></button
        ><button class="explore11" id="explore">
          <div class="explore12">Explore</div>
          <img class="vector-icon113" alt="" src="./static/public/vector58.svg" /><img
            class="vector-icon114"
            alt=""
            src="./static/public/vector70.svg"
          /></button
        ><button class="notification6" id="notification">
          <div class="explore12">Notifications</div>
          <img
            class="vector-icon115"
            alt=""
            src="./static/public/vector71.svg"
          /></button
        ><button class="post22" id="post">
          <div class="explore12">Post</div>
          <img class="vector-icon116" alt="" src="./static/public/vector53.svg" /><img
            class="vector-icon117"
            alt=""
            src="./static/public/vector72.svg"
          /><img
            class="vector-icon118"
            alt=""
            src="./static/public/vector55.svg"
          /></button
        ><button class="signout5" id="signOut">
          <div class="sign-out5">Sign Out</div>
          <img class="vector-icon119" alt="" src="./static/public/vector391.svg" /><img
            class="vector-icon120"
            alt=""
            src="./static/public/vector401.svg"
          />
        </button>
      </div>
      <div class="home-posts1">
        <div class="new-post4">
          <div class="rectangle-div"></div>
          <img
            class="new-post-child1"
            alt=""
            src="./static/public/rectangle-19@2x.png"
          />
          <div class="post-tail4">
            <img
              class="vector-icon121"
              alt=""
              src="./static/public/vector77.svg"
            /><img
              class="vector-icon122"
              alt=""
              src="./static/public/vector78.svg"
            /><img
              class="vector-icon123"
              alt=""
              src="./static/public/vector79.svg"
            /><img
              class="vector-icon124"
              alt=""
              src="./static/public/vector80.svg"
            /><img
              class="vector-icon125"
              alt=""
              src="./static/public/vector81.svg"
            /><img
              class="vector-icon126"
              alt=""
              src="./static/public/vector82.svg"
            /><img
              class="vector-icon127"
              alt=""
              src="./static/public/vector83.svg"
            /><img
              class="vector-icon128"
              alt=""
              src="./static/public/vector84.svg"
            /><img
              class="vector-icon129"
              alt=""
              src="./static/public/vector85.svg"
            /><img
              class="vector-icon130"
              alt=""
              src="./static/public/vector86.svg"
            /><img class="vector-icon131" alt="" src="./static/public/vector87.svg" />
            <div class="description-4">Description :-</div>
            <div class="stars-634">78 Stars , 63 Comments and 51 Reshares</div>
          </div>
          <div class="post-head4">
            <img
              class="post-head-child1"
              alt=""
              src="./static/public/ellipse-14.svg"
            /><img
              class="post-head-child2"
              alt=""
              src="./static/public/ellipse-7@2x.png"
            /><button class="name-to-be-given2">Name_to_be_given</button>
            <div class="jan-234">6 Jan ‘23</div>
          </div>
        </div>
        <div class="new-post5">
          <img
            class="new-post-child2"
            alt=""
            src="./static/public/rectangle-34@2x.png"
          />
          <div class="post-tail4">
            <img
              class="vector-icon132"
              alt=""
              src="./static/public/vector88.svg"
            /><img
              class="vector-icon133"
              alt=""
              src="./static/public/vector89.svg"
            /><img
              class="vector-icon134"
              alt=""
              src="./static/public/vector90.svg"
            /><img
              class="vector-icon135"
              alt=""
              src="./static/public/vector91.svg"
            /><img
              class="vector-icon136"
              alt=""
              src="./static/public/vector92.svg"
            /><img
              class="vector-icon137"
              alt=""
              src="./static/public/vector93.svg"
            /><img
              class="vector-icon138"
              alt=""
              src="./static/public/vector94.svg"
            /><img
              class="vector-icon139"
              alt=""
              src="./static/public/vector95.svg"
            /><img
              class="vector-icon140"
              alt=""
              src="./static/public/vector96.svg"
            /><img
              class="vector-icon141"
              alt=""
              src="./static/public/vector97.svg"
            /><img class="vector-icon142" alt="" src="./static/public/vector98.svg" />
            <div class="description-4">Description :-</div>
            <div class="stars-634">78 Stars , 63 Comments and 51 Reshares</div>
          </div>
          <div class="post-head5">
            <img
              class="post-head-child1"
              alt=""
              src="./static/public/ellipse-15.svg"
            /><img
              class="post-head-child2"
              alt=""
              src="./static/public/ellipse-71@2x.png"
            />
            <div class="name-to-be-given3">Name_to_be_given</div>
            <div class="jan-235">7 Jan ‘23</div>
          </div>
        </div>
        <div class="new-post6">
          <div class="rectangle-div"></div>
          <img
            class="new-post-child1"
            alt=""
            src="./static/public/rectangle-191@2x.png"
          />
          <div class="post-tail4">
            <img
              class="vector-icon132"
              alt=""
              src="./static/public/vector99.svg"
            /><img
              class="vector-icon133"
              alt=""
              src="./static/public/vector100.svg"
            /><img
              class="vector-icon134"
              alt=""
              src="./static/public/vector101.svg"
            /><img
              class="vector-icon135"
              alt=""
              src="./static/public/vector102.svg"
            /><img
              class="vector-icon136"
              alt=""
              src="./static/public/vector103.svg"
            /><img
              class="vector-icon137"
              alt=""
              src="./static/public/vector104.svg"
            /><img
              class="vector-icon138"
              alt=""
              src="./static/public/vector105.svg"
            /><img
              class="vector-icon139"
              alt=""
              src="./static/public/vector106.svg"
            /><img
              class="vector-icon140"
              alt=""
              src="./static/public/vector107.svg"
            /><img
              class="vector-icon141"
              alt=""
              src="./static/public/vector108.svg"
            /><img class="vector-icon142" alt="" src="./static/public/vector109.svg" />
            <div class="description-4">Description :-</div>
            <div class="stars-634">78 Stars , 63 Comments and 51 Reshares</div>
          </div>
          <div class="post-head5">
            <img
              class="post-head-child1"
              alt=""
              src="./static/public/ellipse-16.svg"
            /><img
              class="post-head-child2"
              alt=""
              src="./static/public/ellipse-72@2x.png"
            />
            <div class="name-to-be-given3">Name_to_be_given</div>
            <div class="jan-235">8 Jan ‘23</div>
          </div>
        </div>
        <div class="new-post7">
          <img
            class="new-post-child2"
            alt=""
            src="./static/public/rectangle-35@2x.png"
          />
          <div class="post-tail4">
            <img
              class="vector-icon132"
              alt=""
              src="./static/public/vector110.svg"
            /><img
              class="vector-icon133"
              alt=""
              src="./static/public/vector111.svg"
            /><img
              class="vector-icon134"
              alt=""
              src="./static/public/vector112.svg"
            /><img
              class="vector-icon135"
              alt=""
              src="./static/public/vector113.svg"
            /><img
              class="vector-icon136"
              alt=""
              src="./static/public/vector114.svg"
            /><img
              class="vector-icon137"
              alt=""
              src="./static/public/vector115.svg"
            /><img
              class="vector-icon138"
              alt=""
              src="./static/public/vector116.svg"
            /><img
              class="vector-icon139"
              alt=""
              src="./static/public/vector117.svg"
            /><img
              class="vector-icon140"
              alt=""
              src="./static/public/vector118.svg"
            /><img
              class="vector-icon141"
              alt=""
              src="./static/public/vector119.svg"
            /><img class="vector-icon142" alt="" src="./static/public/vector120.svg" />
            <div class="description-4">Description :-</div>
            <div class="stars-634">78 Stars , 63 Comments and 51 Reshares</div>
          </div>
          <div class="post-head5">
            <img
              class="post-head-child1"
              alt=""
              src="./static/public/ellipse-17.svg"
            /><img
              class="post-head-child2"
              alt=""
              src="./static/public/ellipse-73@2x.png"
            />
            <div class="name-to-be-given3">Name_to_be_given</div>
            <div class="jan-235">9 Jan ‘23</div>
          </div>
        </div>
      </div>
      <div class="bio">
        <img class="bio-child" alt="" src="{{ user.profile_photo }}"/>
        <button class="vector-icon166-button" id="vector-icon166-button" type="submit"></button>
        <div class="bio-frame">
          <div class="following-container" id="frameContainer1">
            <button class="following32">25 following</button>
          </div>
          <div class="followers-wrapper" id="frameContainer2">
            <button class="followers3">29 followers</button>
          </div>
          <div class="name-to-be-given6" id="name-to-be-given6">{{user.username}}</div>
          <button class="vector-icon165-button" id="vector-icon165-button" type="submit">
          </button><div class="frame-bio" id="frame-bio"><p>{{user.bio}}</p></div>
          <div class="posts">4 posts</div>
        </div>
      </div>
    </div>

    <div id="popup">
      <div class="popup-content">
          <h3>Edit Profile Photo</h3>
          <form method="post" action='/change_profile_pic' enctype="multipart/form-data">
              <input type="file" name="file" accept="image/*" required>
              <br>
              <button type="submit">Save</button>
              <button id="close-popup-button" type="button">Cancel</button>
          </form>
      </div>
  </div>
  

    <script>
      var home = document.getElementById("home");
      if (home) {
        home.addEventListener("click", function (e) {
          window.location.href = "/home";
        });
      }
      
      var explore = document.getElementById("explore");
      if (explore) {
        explore.addEventListener("click", function (e) {
          window.location.href = "./Explore.html";
        });
      }
      
      var notification = document.getElementById("notification");
      if (notification) {
        notification.addEventListener("click", function (e) {
          window.location.href = "/notifications";
        });
      }
      
      var post = document.getElementById("post");
      if (post) {
        post.addEventListener("click", function (e) {
          window.location.href = "/post";
        });
      }
      
      var signOut = document.getElementById("signOut");
      if (signOut) {
        signOut.addEventListener("click", function (e) {
          window.location.href = "/logout";
        });
      }
      
      var frameContainer1 = document.getElementById("frameContainer1");
      if (frameContainer1) {
        frameContainer1.addEventListener("click", function (e) {
          window.location.href = "/following";
        });
      }
      
      var frameContainer2 = document.getElementById("frameContainer2");
      if (frameContainer2) {
        frameContainer2.addEventListener("click", function (e) {
          window.location.href = "/followers";
        });
      }
        document.getElementById("vector-icon165-button").addEventListener("click", function() {
          var userName = prompt("Enter your name:");
          var userBio = prompt("Enter your bio:");
          const data = {username: userName, bio: userBio};

            fetch('/update_profile', {
              method: 'POST',
              headers: {'Content-Type': 'application/json'},
              body: JSON.stringify(data)
            })
            .then(response => response.json()) 
            .then(data => { 
              document.getElementById("name-to-be-given6").textContent = data.username;
              document.getElementById("frame-bio").textContent = data.bio;
            })
            .catch(error => console.error(error));
          });


      var editPhotoButton = document.getElementById('vector-icon166-button');
    var popup = document.getElementById('popup');
    var closePopupButton = document.getElementById('close-popup-button');

    // Show the popup when the button is clicked
    editPhotoButton.addEventListener('click', function() {
        popup.style.display = 'block';
    });

    // Hide the popup when the close button is clicked
    closePopupButton.addEventListener('click', function() {
        popup.style.display = 'none';
    });
      </script>
  </body>
</html>
